.body{ background-color: #f8f8f8;}
/*Ã¦Å“â€°Ã¨Æ’Å’Ã¦â„¢Â¯Ã¥â€ºÂ¾Ã§Å¡â€žÃ¦â€”Â¶Ã¥â‚¬â„¢Ã¥Å Â Ã¤Â¸Å Ã¨Â¿â„¢Ã¤Â¸ÂªÃ§Â±Â»Ã¥ÂÂ*/
.header{ height: 1.2rem; background-color: #ffffff; position: relative; z-index: 5;}
.logo{top: 50%; margin-top: -41px; margin-top: -41px \9; -ms-transform: translateY(0%); position: absolute; z-index: 100;}
.logo>img{ margin-right: .18rem; position: relative; top: -.04rem; width: .73rem;}
.logo a>img{ /* width: 2.88rem; */ max-width: 80%;}
.slb .logo a>img{ width: 2rem;}
.header_line{ padding-top: .15rem; text-align: right; font-size: 0rem;}
.header_link_01,.header_link_02,.header_line>span{ display: inline-block; }
.header_link_01{ font-size: 0rem; margin-right: .16rem;}
.header_link_01 a{ color: #1658a0; border-radius: .06rem; padding: 0rem .1rem;}
.header_link_01 a.btn_base:hover{ -webkit-filter: brightness(100%); filter: brightness(100%); color: #1658a0; border: 1px solid #1658a0; background: #f2f8ff;}
.header_link_02{ margin: 0rem .04rem; font-size: 0rem; line-height: .2rem; position: relative;}
.header_link_02 a{ position: relative; padding: 0rem .12rem; font-size: .14rem; line-height: .2rem;}
.header_link_02 a:after{ position: absolute; content: ''; right: 0rem; top: 50%; margin-top: -.07rem; height: .14rem; width: 2px; background-color: #7d7d7d;}
.header_link_02 a:last-child:after{ display: none;}
.header_link_02 .btn_base{line-height: .18rem;}

.header_link_02 .mzt_ewm{position: absolute;right: -.3rem;top: .32rem;display: none;background-color: #ffffff;box-shadow: 0 0 5px rgba(0,0,0,.2);padding: .12rem;z-index: 100;width: 1.4rem;text-align: center;border-radius: .04rem;}
.header_link_02 .mzt_ewm::before{ content: ''; width: 0; height: 0; left: 50%; transform:translateX(-50%) rotate(-45deg); top: -5px; position: absolute; border-right: 10px solid #ffffff; border-bottom: 10px solid transparent; }
.header_link_02 .mzt_ewm p{ font-size: .12rem; text-align: center; margin-top: .1rem;}
.header_link_02 .mzt_ewm img,.header_link_02 .mzt_ewm canvas{ max-width: 1rem; max-height:1rem}
.header_link_02 a:hover+.mzt_ewm{ display: block;}
.header_link_02 a:nth-last-child(2):after{ display: none;}

.header_line>span{ padding:.01rem .1rem .03rem .1rem; border: 1px solid #666666; color: #666; border-radius: .12rem; font-size: .12rem; float: right; margin-left: .08rem;}
.menu_base:after{ visibility: hidden; display: block; font-size: 0rem; content: " "; clear: both; height: 0rem;}
.menu_base ul{ text-align: right; padding-top: .07rem; font-size: 0rem;}
.menu_base li{display: inline-block;margin-left: .3rem;padding-bottom: .08rem; overflow: hidden;}
.menu_base.menu_horizontal .menu_item{ float: inherit;}
.menu_base li:first-child{ margin-left: 0rem;}
.menu_base li a{ padding: .15rem 0rem .14rem 0rem; font-weight: bold; line-height: .4rem; font-size: .24rem; display: block; position: relative;}
.menu_base li.on a{ color: #1658a0;}
.menu_base li a:hover{ text-decoration: none;}
.menu_base>ul>li a:before{display:none;position:absolute;content:'';left:50%;transform:translateX(-50%) rotate(45deg); -ms-transform:translateX(-50%) rotate(45deg);width:.16rem;height:.16rem;background-color:#1658a0;bottom: -.12rem;}
.menu_base>ul>li.parentNode a:hover:before,.menu_base>ul>li.parentNode.active a:before{ display: block;}
.search_fixed{ display: none;}
.banner_header{ background-color: #1658a0; height: .8rem; position: relative; z-index: 4; }
.banner_header .row{ padding: .16rem 0rem;}
.area_weather{ color: #ffffff; line-height: .24rem; font-size: .16rem;}
.area_weather2{display: none; color: #ffffff;padding: 0.1rem 0 0.2rem; font-size: .4rem;font-weight: bold;}
.page_bg .area_weather2{display: block;}
.page_bg .area_weather p.bg_jb{display:inline-block; position: relative; padding: 0  0.2rem;}
.page_bg .area_weather p.bg_jb:after{content: ""; position: absolute; z-index: -1; left: 0; width: 50%; height: 100%; background-image: linear-gradient(to right,rgba(0,140,223, 0.1),rgba(0,140,223,0.85));}
.page_bg .area_weather p.bg_jb:before{content: ""; position: absolute; z-index: -1; right:0; width: 50%; height: 100%; background-image: linear-gradient(to left,rgba(0,140,223, 0.1),rgba(0,140,223,0.85));}
.search_area{box-sizing: border-box;background-color: #ffffff\9;background-color: rgba(255, 255, 255, .2);background-color: rgba(255, 255, 255, .2)\9\0;border-radius:.08rem;position: relative;/* overflow: hidden; */}
.search_area .input_group{ padding:0rem;}
.search_area .input_select .input_group_prepend_01{ width: .88rem;}
.input_select .input_group_prepend_01 .input_base input[type="text"].input_inner{ padding-right: 0rem; color: #999999;}
.search_area .input_icon{right: .16rem;top: .07rem;transition: 0s all;}
.search_area .input_base.input_suffix:before{ content:' '; position: absolute; right: 0rem; top: 50%; margin-top: -.1rem; height: .2rem; width: 2px; background-color: #ffffff; z-index: 999;}
.search_input{caret-color:transparent; }
.search_area input[type="text"].input_inner,.search_area .input_group_prepend_01,.search_area .input_group_append_01{ background-color: transparent; border: none; color: #ffffff; color: #555555\9; color: #ffffff\9\0; padding-right: 0rem; }
.search_area .input_group_append_01{ padding-left: 0rem; background-color: #fff; padding:0 0.1rem;}
.page_bg .search_area .input_group_append_01{ background-color: #1658a0; padding:0 0.15rem; height: 0.6rem;}
.search_area .input_group_append_01 i{ font-size: .24rem;}
.search_area input[type="text"]::-webkit-input-placeholder{ color: #ffffff;}
.search_area .input_icon{ color: #ffffff; color: #555555\9; color: #ffffff\9\0;}
.select_group .input_inner.on+.input_icon{ top: .07rem;}
.search_area .input_icon{top: 0rem\0;}
.select_group .input_inner.on+.input_icon{ top: 0rem\0;}
.search_area .select_dropdown{ top:.44rem; top: .36rem\0;}
.search_area .input_group_append_01 button.btn_default{margin: 0rem .1rem 0rem 0rem;border: none;padding: 0rem; color: #1658a0;}
.page_bg .search_area .input_group_append_01 button.btn_default{color: #fff;}
.search_area .input_group_append_01 button.btn_default:hover{ background-color:transparent; border:0rem; color:#ffffff; color: #1658a0\9;}

.aged_link{font-size: 0rem;height: .42rem; margin-top: .01rem;}
.page_bg .aged_link{display: none;}
.aged_link2{display: none;}
.page_bg .aged_link2{display:block;}


.search_content{ display: none; position: absolute; top:.48rem; left: 0rem; right: 0rem; padding:.12rem 0rem; background-color: #fff; z-index: 9; border-radius:.08rem;}
.search_history,.search_top{ /* white-space: nowrap; */ overflow: hidden; /* text-overflow: ellipsis; */ padding: 0rem .2rem;}
.search_history span,.search_top span,.search_history a,.search_top a{ display: block; font-size: .14rem; line-height: .24rem; margin-bottom: .04rem; margin-top: .04rem;float: left;}
.search_history a,.search_top a{font-size: .12rem; padding: 0px .12rem; background-color: #f6faff; border-radius:.05rem; color: #1658a0; margin-right: .08rem;}
.search_history a i,.search_top a i{ display: none;}
.header.fixed{ position: fixed; left: 0rem; top: 0rem; right: 0rem; z-index: 997; height:auto; background-color: #ffffff\9; background-color: rgba(255,255,255,.9); background-color: rgba(255, 255, 255, .9)\9\0; border-bottom: .08rem solid #1658a0;}
.header.fixed .header_line{ display: none;}
.header.fixed .menu_base li.on a:before{ display: none;}
.header.fixed .logo{ width: 23.3333%; float: left; position: relative; top: 0rem; padding: .1rem 0rem; margin-top: 0rem;} 
.header.fixed .logo>img{ width: .5rem;}
.header.fixed .logo a img{ width:2rem}
.header.fixed .menu_base{float: left;margin-left: -.3rem;}
.header.fixed .menu_base ul{ padding-top: 0rem; padding-left: .2rem;}
.header.fixed .menu_base>ul>li a:before{ display: none;}
.header.fixed .submenu{ display: none !important;}
.header.fixed .search_fixed{ display: block; position: absolute; right: .2rem; top: .2rem; width: 1.7rem; padding: 0rem .12rem 0rem .08rem; background: #fff; border: 1px #c8c8c8 solid; height: .34rem; border-radius: .17rem;}
.search_fixed .form-control{ border: none; padding: 0rem .1rem; line-height: .34rem; height: .34rem; background-color: transparent; font-size: .14rem; width: 86%; display: inline-block; float: left;}
.search_fixed .btn_base{ padding: 0rem; line-height: .3rem;}
.search_fixed .btn_base i{ font-size: .16rem;}
.aged_link a{ font-size:.2rem; font-weight: bold; display: inline-block; text-align: center; color: #ffffff; padding: 0rem .16rem; height: .44rem; line-height: .44rem; border-radius:.08rem; margin-left: .1rem;}
.aged_link2 a{border-radius:0 0 .08rem .08rem;}
.aged_link a.aged_link_01{ background: url(../images/21_header_bar1.png) no-repeat center bottom #e66531;}
.aged_link a.aged_link_02{ background: url(../images/21_header_bar2.png) no-repeat center bottom #4674c0;}
.aged_link a i{ font-weight: normal; font-size:.24rem; vertical-align: baseline;}
.aged_link a:hover{ -webkit-filter: brightness(110%); filter: brightness(110%);}
.submenu{ background-color: #1658a0; font-size: .18rem; color: #ffffff; position: absolute; left: 0rem; right: 0rem; top: 1.2rem; }
.submenu .trt-row{ padding:.1rem 0rem;}
.submenu .trt-row .trt-col-16{ border-right: 1px solid #ffffff;}
.submenu .trt-row .trt-col-16 p{ line-height: .3rem;}
.submenu .trt-row .trt-col-16 p span{ display: inline-block; margin-right: .2rem; font-weight: bold;}
.submenu a{ color: #ffffff; display: inline-block; font-weight: bold; margin: 0rem .1rem;}
.submenu .trt-row .trt-col-16 p a{ font-weight: normal; margin-right: .12rem;}
.submenu .trt-col-8{ padding-left: .3rem; line-height: .3rem;}
.submenu .trt-col-8 a{ width:calc(33.3% - .2rem); float: left;}
.submenu .row{ display: none; text-align: center;}
.submenu .row:first-child{ text-align: left;}
.submenu .row>a,.submenu .row>div>a{ line-height:.6rem; padding: .1rem 0rem;}
.search_bg_no .banner_header{ background:none transparent; border-bottom:1px solid #ffffff\0; border-bottom:1px solid rgba(255,255,255,.2);}

.page_bg.search_bg_no .banner_header{ border-bottom:none;}
.page_bg{ background-image: url(../images/230425qz_axzf_bg.png); background-repeat: no-repeat; background-position: center 1.28rem; background-size: 100% auto;}
.page_bg .search_area{background-color: #ffffff;/* border: 1px solid #1658a0; */width: 6rem;}
.page_bg .search_area input[type="text"].input_inner,.page_bg .search_area .input_group_prepend_01, .page_bg .search_area .input_group_append_01,.page_bg .search_area .input_icon{ color: #333333; height: 0.6rem;}
.page_bg .search_area .input_base.input_suffix:before{ background-color: #999999;}
.page_bg .search_area input[type="text"]::-webkit-input-placeholder{ color: #999999;}
.page_bg .search_area .input_group_append_01 i{ color: #fff;}
.search_area .input_group_prepend_01 li{color: #555555;padding-left: .16rem;}
.input_select .input_group_prepend_01 .input_base input[type="text"].input_inner{ color: #ffffff; color: #555555\9; color: #ffffff\9\0;}
.input_select .input_group_prepend_01 .input_base.input_suffix input[type="text"].input_inner{ border-right: 1px solid #555555\0; height: .2rem\0; line-height: .2rem\0;}
.page_bg .input_select .input_group_prepend_01 .input_base input[type="text"].input_inner{ color: #555555;font-size: 0.18rem;}
.page_bg .search_content{ top: .49rem;}
.page_bg .banner_header .btn_base:hover{ background-color: transparent; border-color:transparent;}
.page_bg .header{border-bottom: 8px solid #1658a0;height: 1.28rem;}
.page_bg .banner_header .row{/* width:5.76rem; margin: 0rem auto; padding-top:.9rem; */padding-top:0;}
.page_bg .banner_header{ background: none transparent; height: auto; /* height:3.4rem; */}
.page_bg .banner_header .row .trt-row [class*=trt-col-]{ width: 100%;padding: 0rem .06rem;}

.page_bg .area_weather{display: block; height: .4rem;line-height: .4rem; float: none;padding: 0rem;color: #fff;}
.page_bg .area_weather3,.area_weather{display: none;}
.area_weather3{display:block;height: 0.4rem;overflow: hidden;}
.area_weather3 p{display: table; height: 0.4rem;}
.area_weather3 p>em{display: table-cell; vertical-align: middle; line-height: 0.2rem;}

.page_bg .aged_link{text-align: center; float: initial;}
.page_bg .aged_link{/* margin-top: .16rem; */ margin-top:-0.01rem}
.aged_link a.aged_link_01.none{ display: none;}
.page_bg .header.fixed{ height:.8rem;}

.slb .page_bg{ background-position: center 1.2rem;}
.slb .page_bg .header{ height:auto;}
.slb .header{ height: auto;}
.slb .select_dropdown{ top:.44rem;}
.slb .banner_header{ height: auto;}
.slb .page_bg .banner_header{ /* height:3.4rem; */}
.slb .logo{ top: .1rem; transform: translateY(0); margin-top: 0rem;}
.slb .logo>img{margin-right: .1rem;width: .49rem;top: -.02rem;}
.slb .menu_base{margin-top: .24rem;}
.slb .menu_base ul{ padding-top: .1rem; text-align: left;}
.slb .menu_right>ul{ float:inherit;}
.slb .menu_base li:last-child{ margin-right: 0rem;}
.slb .menu_base li a{ padding:0rem;}
.slb .submenu{ top: 1.26rem;}
.slb .menu_base>ul>li a:before{ bottom: -.16rem;}
.slb .submenu .trt-col-8{padding-left: 0rem;}
.slb .search_area .trt-col-14{ width: 58.33333%;}
.slb .submenu .trt-col-8 a{ width: auto;}
.slb .banner_header .trt-col-10{ width: 41.66667%;}
.slb .submenu .row{ padding: .1rem 0rem;}
.slb .submenu .row:first-child,.slb .submenu .row:last-child{ padding: 0rem;}
.slb .submenu .row>div>a{ line-height:.3rem; padding: 0rem;}
.slb .menu_base li{padding-bottom:.06rem;margin-right: .3rem;margin-left: 0rem;}
.slb .header_link_01{ margin-right: .04rem;}
.slb .header_link_02{ margin-left: .04rem; margin-right: 0rem;}
.slb .header_link_02 a{ padding: 0 .04rem;}
.slb .header_link_01 a{ padding: 0 .08rem;}
.slb .btn_base+.btn_base{ margin-left: .04rem;}
.slb .header.fixed .logo{ width: 70%; padding-bottom: 0;rem}
.slb .header.fixed .menu_base{ margin-top: 0rem;}
.slb .header_line>span{ padding:.02rem .08rem;}
.slb .header.fixed .menu_base ul{ padding-left: 0rem;}
.slb .header.fixed .menu_base li{ padding-bottom: 0rem;}
.slb .aged_link a.aged_link_01,.slb .aged_link_02{ display: none;}
.slb .aged_link a.aged_link_01.none{ display: inline-block !important;}
.slb .header.fixed .menu_base{ margin-left: 0rem;}

.slb .submenu .trt-row .trt-col-16{ border-right: none; border-bottom: 1px solid #ffffff; padding-bottom: .1rem;}
@media screen and (min-width:1367px) and (max-width:1680px) {
	.slb .page_bg{background-size: auto 4rem;}
}
@media screen and (max-width:1366px) {
	.slb .page_bg{background-size: auto 3.5rem;}
	.slb .submenu{ top: 1.2rem;}
	.slb .menu_base li{margin-left:0rem;margin-right: .2rem;}
	.slb .header_link_01{clear: both;margin-bottom: .1rem;display: block;}
	.slb .menu_base{ margin-top:0rem}
	.slb .menu_base ul{ padding-top:0rem}
}

@media screen and (max-width:1280px) {
	
	.header_link_01{ margin-right: .1rem;}
	.header_link_02{ margin: 0rem;}
	.header.fixed .menu_base ul{ padding-left: .1rem;}
	.header.fixed .menu_base li{ margin-left: .15rem;}
	.page_bg{ background-position: center 1.2rem;}
	.page_bg .banner_header .row_l{ width: 50%;}
	.search_area .input-group-addon:first-child i{ right: .2rem;}
	.search_area .input-group-addon:first-child span{ padding-left: .16rem;}
	
	.slb .header_link_01{ display: none;}
	.slb .header.fixed .menu_base li{ margin-left: .2rem;}
	.slb .menu_base{ margin-top:.3rem}
}
@media screen and (max-width:1100px) {
	.slb .header.fixed .menu_base li{ margin-left:.1rem; }
	.submenu .row>a{ line-height:.6rem; margin: 0rem .04rem;}
}

@media screen and (max-width:992px) {
	.header.fixed{ position: inherit; overflow: hidden;}
	.header,.banner_header{ height: auto;}
	.header .row{ padding: 0rem;}
	.header_line{ padding-top: 0rem; top:.1rem; position: absolute; right:.04rem;}
	.logo{ padding-left: .16rem; margin-top: inherit;}
	.logo>img{ max-width: .5rem;}
	.logo a img{ max-width:1.8rem;}
	.page_bg{ background-image: none;}
	.page_bg .header{ border-bottom: 0rem; height: auto;}
	.page_bg .banner_header{ height: auto; background: none #1658a0; }
	.banner_header .trt-row [class*=trt-col-]{ padding: 0rem .05rem;}
	.slb .banner_header .trt-row [class*=trt-col-]{ padding: 0rem .1rem;}
	.header.fixed .logo,.logo{ width:78%; position: relative; top: inherit; transform: translateY(0); padding-top: .12rem;}
	.header_link_01, .header_line>span{ display: none;}
	.page_bg .search_area{overflow: inherit;background-color: rgba(255,255,255,.2);border: none;width: auto;}
	.page_bg .search_area input[type="text"].input_inner, .page_bg .search_area .input_group_prepend_01, .page_bg .search_area .input_group_append_01, .page_bg .search_area .input_icon{color:#ffffff;line-height: .38rem;/* top: -.01rem; */}
	.page_bg .search_area .input_icon{ top: 0rem;}
	.page_bg .search_area input[type="text"]::-webkit-input-placeholder,.page_bg .search_area .input_group_append_01 i{ color: #ffffff;}
	.search_area .input_select .input_group_prepend_01{ width: .7rem;}
	.search_area .input_icon{right: .1rem;}
	.search_area .input_group_append_01{ padding:0rem .06rem; background-color: #fff !important;}
	.search_area .input_group_append_01 button{ padding: 0rem .06rem; color: #1658a0 !important;}
	.page_bg .search_area .input_base.input_suffix:before{ background-color: #ffffff;}
	.page_bg .input_select .input_group_prepend_01 .input_base input[type="text"].input_inner{ color:#ffffff}
	.select_dropdown li a{ padding-left: 0rem; text-align: center;}
	.select_dropdown{background-color: #ffffff;top: .44rem;border: none;}
	.menu_base{ position: relative; padding-right: .1rem;}
	.menu_base:after{ content: ''; width: .3rem; position: absolute; right:.1rem; top: 0rem; bottom: 0rem; background:linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));;}
	.menu_base ul{ text-align: left; white-space: nowrap; overflow-x: auto; padding-top: 0rem; padding-left: .16rem;}
	.menu_base ul::-webkit-scrollbar{ display: none;}
	.menu_base li{ float: inherit; display: inline-block; margin:0rem .1rem 0rem 0rem; padding-bottom: 0rem;}
	.menu_base li a{ padding:.05rem 0rem;}
	.menu_base>ul>li.parentNode a:hover:before,.menu_base>ul>li.parentNode.on a:before{ display: none;}
	.submenu{ display: none !important;}
	.banner_header .row{ padding: .16rem;}
	.area_weather,.area_weather2,.aged_link .aged_link_02{ display: none;}
	.search_area .input-group-addon:first-child i{ top: .19rem; right: .1rem;}
	.search_area .input-group-addon:first-child:before{ right: 0rem;}
	.search_area .input-group-addon:last-child .btn_base{ margin-left: -.24rem;}
	.search_area .input-group-addon:first-child span{ text-align: left; padding-left: .1rem;}
	.search_area .btn_base i{ font-size: .2rem; color: #1658a0 !important;}
	.search_area .input-group-addon:first-child span{ padding-left: 0rem; text-align: center;}
	.search_area .input-group-addon:last-child .btn_base{ margin-left: 0rem;}
	.search_area .input_group_prepend_01 li{ padding-left:.1rem}
    .page_bg .select_group .input_inner.on+.input_icon{ top:0rem}
	.page_bg .search_content{ top: .48rem;}
	.header_link_02 a:first-child:after{ margin-top: -.06rem;}
	.aged_link,.page_bg .aged_link{/* margin-top:0rem; */ margin-top:0.1rem}
	.aged_link a{ margin-left: 0rem; height:.48rem; line-height: .48rem; padding: 0rem; display: block; width: 100%;}
	.page_bg .banner_header .row{width: 100%; padding-top: .16rem;}
	.page_bg .banner_header .row .trt-row [class*=trt-col-].trt-col-sm-18{ width: 75%;}
	.page_bg .banner_header .row .trt-row [class*=trt-col-].trt-col-sm-6{ width: 25%;}
	.search_history, .search_top{ padding:0rem .12rem; white-space:initial;}
	.search_history span, .search_top span{ font-size: .18rem; float: none;}
	.search_history a, .search_top a{ font-size:.16rem; display:block; background-color:transparent; padding:0rem .2rem 0rem 0rem; margin-right: 0rem; line-height:.34rem; font-family: "iconfont" !important; position: relative; color: #555555; float: none;}
	.search_area input[type="text"].input_inner::-webkit-input-placeholder{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	.search_history a i{ position: absolute; right: 0rem; display: block; top: 0rem; color: #bbbbbb;}
	.search_top a:before{margin-right: .08rem;}
	.search_top a:first-child+a:before{ content: '1'; color: #ff0000;}
	.search_top a:first-child+a+a+a:before{ content: '2'; color: #ff0000;}
	.search_top a:first-child+a+a+a+a:before{ content: '3'; color: #ff0000;}
	.search_top a:first-child+a+a+a+a+a:before{ content: '4';}
	.search_top a:first-child+a+a+a+a+a+a:before{ content: '5';}
	.search_top a:first-child+a+a+a+a+a+a+a:before{ content: '6';}
	.search_top a:first-child+a+a+a+a+a+a+a+a:before{ content: '7';}
	.search_top a:first-child+a+a+a+a+a+a+a+a+a:before{ content: '8';}
	.search_area .select_group .input_inner{  position: relative;}
	
	.slb .select_dropdown{top: .39rem;}
	.slb .search_content{ padding:.04rem 0rem;}
	.slb .page_bg .banner_header{ height: auto;}
	.slb .logo{width: 90%;padding-left:.1rem;}
	.slb .logo{ top:0rem; padding-top: .1rem;}
	.slb .logo>img{top: -.02rem;margin-right:.06rem;}
	.slb .menu_base ul{ padding-left: .08rem;}
	.slb .menu_base{ margin-top: 0rem;}
	.slb .menu_base li a{ padding: 0rem;}
	.slb .menu_base li,.slb .header.fixed .menu_base li{ margin-left:0rem;}
	.slb .page_bg .search_content{ top: .38rem;}
	.slb .search_area .input_select .input_group_prepend_01{width: .58rem;}
	.slb .search_area .input_icon{right: .01rem;}
	.slb input[type="text"].input_inner{padding-left: .1rem; padding-right: 0rem;}
	.slb .page_bg .input_select .input_group_prepend_01 .input_base input[type="text"].input_inner{ height: .36rem;line-height: .36rem;}
	.slb .banner_header .row{ padding:.12rem;}
	.slb .page_bg .banner_header .row .trt-row [class*=trt-col-].trt-col-sm-18,.slb .page_bg .banner_header .row .trt-row [class*=trt-col-].trt-col-sm-6,.slb .banner_header .trt-col-10{ width:100%;}
	.slb .aged_link a{ width: 100%; margin-left: 0rem; border-radius:.08rem; height: auto; line-height: .36rem;}
	.slb .search_area .input_group{ padding: 0rem;}
	.slb .aged_link{ height:auto;}
	.slb .aged_link{ margin-top:.12rem;}
	.slb .page_bg .aged_link{ margin-top: .12rem;}
	.slb .search_area .input_group_append_01 button{ top: -.02rem; position: relative;}
	.slb .menu_base>ul>li a:hover:before{ display: none;}
	.slb .header_link_02{ display: none;}
	.header_link_02{ display: none;}
	.page_bg .aged_link{display: block;}
}
@media screen and (max-width:768px) {
	..aged_link a i{display: none;}
	.aged_link a{ font-size: .16rem;}
}
@media screen and (max-width:374px) {
	.logo>img{ margin-right:.1rem;}
	.slb .logo>img{width: .35rem;}
	.slb .logo a img{}
}