
.footer{ background-color: #f8f8f8; margin: .32rem auto 0rem; box-shadow: 0 0 6px rgba(0,0,0,.05); position: relative; z-index: 5;}
.out_links{ padding:.16rem 0rem; position: relative; font-size: .14rem; z-index: 6;}
.out_links>ul{*width: 100%;}
.out_links>ul:after{ visibility: hidden; display: block; font-size: 0rem; content: " "; clear: both; height: 0rem;}
.out_links>ul>li p{ padding-left:.16rem; line-height:.4rem; border: 1px solid #e5e5e5; background-color: #ffffff; position: relative; cursor: pointer; transition: .3s all; z-index: 6;}
.out_links>ul>li p:before{ content: ''; position: absolute; right:.12rem; top:.18rem; transition: .3s all; width:.1rem; height:.06rem; background: url(../images/21_header_arr2.png) no-repeat; background-size:contain}
.out_links>ul>li>div{display: none; position: absolute; left: .1rem; right: .1rem; z-index: 5; bottom:.4rem; background-color:#ffffff; padding: .16rem .2rem .15rem .3rem; border: 1px solid #eeeeee;}
.out_links>ul>li ul li{ line-height: .3rem;}
.website_info{ line-height:.36rem; font-size: .14rem; padding-top:.14rem; }
.website_info p em{ font-style: normal; margin: 0rem .08rem;}
.website_info p img{ margin-right: .08rem;}
.website_info p span{ margin-right:.2rem; display: inline-block; display: inline\0;}
.website_info p span:last-child{ margin-right: 0rem;}
.media_info{ position: relative; z-index: 7;}
.media_info .trt-row{ margin: 0rem -.03rem;}
.media_info .trt-row [class*=trt-col-]{ padding: 0rem .03rem;}
.media_info h3{ font-size:.14rem; line-height:.42rem;}
.media_info li{ margin-bottom:.1rem; position: relative; z-index: 4;}
.media_info li a{ display: block;/* line-height:.38rem; height:.38rem;text-align: center; */ padding: 0.1rem 0;  background-color: #ebebeb; position: relative; font-size: .14rem;}
.media_info li a:hover{ background-color: #1658a0; color: #ffffff;}
.media_info li a span{ width: .24rem; height: .24rem; line-height: .24rem; margin-right: .08rem; overflow: hidden; font-size: .24rem; color: #666666;}
.media_info li a span>img{ max-width: 0.52rem; border:0.02rem solid #FFF; margin-left: 0.2rem;}
.media_info li:hover span{ color: #ffffff;}
.media_info li .ewm_tu{ position: absolute; left: 0rem; bottom:.52rem; z-index: 999; text-align: center; right:.06rem; height: 1.68rem; line-height: 1.68rem; display: none; background-color: #ffffff;  box-shadow:0 2px 10px rgb(9 41 77 / 15%);}
.media_info li .ewm_tu img{ max-width: 1.48rem; max-height: 1.48rem; position: relative; z-index: 1000;}
.media_info li:hover .ewm_tu:after { content: ""; position: absolute; bottom: -.035rem; left:.2rem; width:.26rem; height:.26rem; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); background-color: #fff}
.media_info li:hover .ewm_tu{ display: block;}
.media_info li:hover{ z-index: 5;}
.error_img{ padding-top: 2rem; text-align: right; margin: 0rem -.1rem;}
.error_img span{display: inline-block;line-height: .88rem;margin-top: .2rem;}
.error_img span a{ display: block;}
.copyright_info{ border-top: 1px solid #e2e2e2; padding: .12rem 0rem; margin-top: .2rem; line-height: .26rem; font-size: .14rem; text-align: center; overflow: hidden;}
.copyright_info p span{ margin: 0rem .12rem;}
.out_links_close,.out_links_bg{ display: none;}

.slb .footer .out_links{ padding-bottom: 0rem;}
.slb .footer li{ width: 33.3%; margin-bottom: .16rem;}
.slb .website_info{ line-height: .3rem;}
.slb .media_info{ display: none;}
.slb .footer .trt-col-12{ width:74%;}
.slb .footer .trt-col-4{ width: 26%;}

.slb .out_links>ul>li>div{ bottom:1.14rem; z-index: 9;}
.slb .out_links>ul>li:nth-child(4)>div,.slb .out_links>ul>li:nth-child(5)>div,.slb .out_links>ul>li:nth-child(6)>div{ bottom: 0.57rem;}

@media screen and (max-width:1300px) {
	
	.error_img span #imgConac{ width: 70px;}
	.error_img span#_span_jiucuo{ width: 90px;}


}
@media screen and (max-width:1180px) {
	
	.error_img span #imgConac{ width: 60px;}
	.error_img span#_span_jiucuo{ width: 80px;}
}
@media screen and (max-width:992px) {
	.footer{ margin-top: .2rem;}
	.out_links>ul>li>div{ position: fixed; top: .1rem; z-index: 9;}
	.out_links{ text-align: center; line-height:.15rem; font-size: 0rem; z-index: 999;}
	.out_links>ul>li[class*=trt-col-]{ width: auto; display: inline-block; padding: 0rem .16rem; float: inherit; font-size: .14rem; position: relative;}
	.out_links>ul>li:before{ content: ''; position: absolute; right: 0rem; width: 1px; top: 50%; margin-top: -.08rem; height: .16rem; background-color: #cccccc;}
	.out_links>ul>li:last-child:before{ display: none;}
	.out_links>ul>li p:before,.error_img,.media_info{ display: none;}
	.out_links>ul>li p{ border: none; background-color: transparent; line-height:.24rem; padding-left: 0; font-size: .14rem;}
	.out_links_close{ z-index: 1000;display: none;position: fixed;left: 50%;transform: translateX(-50%);width: .34rem;height: .34rem; line-height: .34rem; border: 1px solid #e4e4e4;background-color: #ffffff;bottom:.2rem;border-radius: 50%;}
	.out_links_close i{ color: #cccccc;}
	.website_info{ text-align: center;}
	.copyright_info{ margin-top: .1rem;}
	.copyright_info p:last-child{ display: none;}
	.copyright_info p span{ display: block;}
	.out_links_bg{ position: fixed; top:0rem; bottom: 0rem; right: 0rem; left: 0rem; background-color: #000000; opacity: .7; display: block; z-index: 99; display: none;}
	.out_links>ul>li ul{position: fixed;top:.2rem;bottom:.7rem;right: .2rem;left: .2rem;z-index:1000;overflow-y: auto;padding: .16rem;border: none;border-radius:.08rem;}
	.out_links>ul>li ul li{ width: 100%; text-align: left; line-height:.4rem; border-bottom: 1px solid #eeeeee;}
	.website_info{ line-height: .28rem;}
	.website_info p span{ display: block; margin: 0rem auto;}
	.website_info a{ display: inline-block;}
	.slb .footer li{ margin-bottom: .08rem;}
	.slb .out_links li:before{ display: none;}
	.slb .footer .trt-col-12{ width: 100%;}
	.slb .out_links>ul>li ul{ bottom: .7rem;}
	.slb .out_links>ul>li ul li{ width: 100%;}
	.slb .out_links>ul{ z-index: 1000;}
	.slb .footer .row.mar_t_base{ z-index: 4;}
	.slb .out_links>ul>li>div{ bottom:.4rem;}
}
