@charset "UTF-8";
/**
 *  版本号 trt_media_v2
 *  更新时间  23/10/12
 *  laiyanling更新
 */
.trt-row::after,.trt-row::before{content:""}
.trt-row{position:relative; margin: 0rem -.1rem;-webkit-box-sizing:border-box;box-sizing:border-box; overflow: hidden\9; overflow: inherit; overflow: inherit\9\0; }
.trt-row::after,.trt-row::before{display:table}
.trt-row::after{clear:both}
.trt-row:after{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0rem;}
.trt-row [class*=trt-col-]{float:left;-webkit-box-sizing:border-box;box-sizing:border-box; padding: 0rem .1rem;}
.trt-row--flex{display:-webkit-box;display:-ms-flexbox;display:flex}
.trt-col-0,.trt-row--flex:after,.trt-row--flex:before{display:none}
.trt-row--flex.is-justify-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.trt-row--flex.is-justify-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.trt-row--flex.is-justify-space-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.trt-row--flex.is-justify-space-around{-ms-flex-pack:distribute;justify-content:space-around}
.trt-row--flex.is-align-middle{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.trt-row--flex.is-align-bottom{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}

.trt-col-ave-5{ width: 20%;}
.trt-col-ave-7{ width: 14.285714%;}
.trt-col-ave-9{ width: 11.11111%;}


.trt-row-xl{ margin: 0rem -.2rem;}
.trt-row-xl>[class*=trt-col-],.trt-row-xl>ul>[class*=trt-col-]{ padding: 0rem .2rem;}
.trt-row-large{ margin: 0rem -.16rem;}
.trt-row-large>[class*=trt-col-],.trt-row-large>ul>[class*=trt-col-]{ padding: 0rem .16rem;}
.trt-row-base{ margin: 0rem -.12rem;}
.trt-row-base>[class*=trt-col-]{ padding: 0rem .12rem;}
.trt-row-small{ margin: 0rem -.08rem;}
.trt-row-small>[class*=trt-col-]{ padding: 0rem .08rem;}
.trt-row-xs{ margin: 0rem -.06rem;}
.trt-row-xs>[class*=trt-col-]{ padding: 0rem .06rem;}
.trt-row-no-gutters { margin-right: 0; margin-left: 0}
.trt-row-no-gutters [class*=col-] {padding-right: 0;padding-left: 0}



	
.trt-col-0{width:0%}
.trt-col-offset-0{margin-left:0}
.trt-col-pull-0{right:0}
.trt-col-push-0{left:0}
.trt-col-1{width:4.16667%}
.trt-col-offset-1{margin-left:4.16667%}
.trt-col-pull-1{right:4.16667%}
.trt-col-push-1{left:4.16667%}
.trt-col-2{width:8.33333%}
.trt-col-offset-2{margin-left:8.33333%}
.trt-col-pull-2{right:8.33333%}
.trt-col-push-2{left:8.33333%}
.trt-col-3{width:12.5%}
.trt-col-offset-3{margin-left:12.5%}
.trt-col-pull-3{right:12.5%}
.trt-col-push-3{left:12.5%}
.trt-col-4{width:16.66667%}
.trt-col-offset-4{margin-left:16.66667%}
.trt-col-pull-4{right:16.66667%}
.trt-col-push-4{left:16.66667%}
.trt-col-5{width:20.83333%}
.trt-col-offset-5{margin-left:20.83333%}
.trt-col-pull-5{right:20.83333%}
.trt-col-push-5{left:20.83333%}
.trt-col-6{width:25%}
.trt-col-offset-6{margin-left:25%}
.trt-col-pull-6{right:25%}
.trt-col-push-6{left:25%}
.trt-col-7{width:29.16667%}
.trt-col-offset-7{margin-left:29.16667%}
.trt-col-pull-7{right:29.16667%}
.trt-col-push-7{left:29.16667%}
.trt-col-8{width:33.33333%}
.trt-col-offset-8{margin-left:33.33333%}
.trt-col-pull-8{right:33.33333%}
.trt-col-push-8{left:33.33333%}
.trt-col-9{width:37.5%}
.trt-col-offset-9{margin-left:37.5%}
.trt-col-pull-9{right:37.5%}
.trt-col-push-9{left:37.5%}
.trt-col-10{width:41.66667%}
.trt-col-offset-10{margin-left:41.66667%}
.trt-col-pull-10{right:41.66667%}
.trt-col-push-10{left:41.66667%}
.trt-col-11{width:45.83333%}
.trt-col-offset-11{margin-left:45.83333%}
.trt-col-pull-11{right:45.83333%}
.trt-col-push-11{left:45.83333%}
.trt-col-12{width:50%}
.trt-col-offset-12{margin-left:50%}
.trt-col-pull-12{right:50%}
.trt-col-push-12{left:50%}
.trt-col-13{width:54.16667%}
.trt-col-offset-13{margin-left:54.16667%}
.trt-col-pull-13{right:54.16667%}
.trt-col-push-13{left:54.16667%}
.trt-col-14{width:58.33333%}
.trt-col-offset-14{margin-left:58.33333%}
.trt-col-pull-14{right:58.33333%}
.trt-col-push-14{left:58.33333%}
.trt-col-15{width:62.5%}
.trt-col-offset-15{margin-left:62.5%}
.trt-col-pull-15{right:62.5%}
.trt-col-push-15{left:62.5%}
.trt-col-16{width:66.66667%}
.trt-col-offset-16{margin-left:66.66667%}
.trt-col-pull-16{right:66.66667%}
.trt-col-push-16{left:66.66667%}
.trt-col-17{width:70.83333%}
.trt-col-offset-17{margin-left:70.83333%}
.trt-col-pull-17{right:70.83333%}
.trt-col-push-17{left:70.83333%}
.trt-col-18{width:75%}
.trt-col-offset-18{margin-left:75%}
.trt-col-pull-18{right:75%}
.trt-col-push-18{left:75%}
.trt-col-19{width:79.16667%}
.trt-col-offset-19{margin-left:79.16667%}
.trt-col-pull-19{right:79.16667%}
.trt-col-push-19{left:79.16667%}
.trt-col-20{width:83.33333%}
.trt-col-offset-20{margin-left:83.33333%}
.trt-col-pull-20{right:83.33333%}
.trt-col-push-20{left:83.33333%}
.trt-col-21{width:87.5%}
.trt-col-offset-21{margin-left:87.5%}
.trt-col-pull-21{right:87.5%}
.trt-col-push-21{left:87.5%}
.trt-col-22{width:91.66667%}
.trt-col-offset-22{margin-left:91.66667%}
.trt-col-pull-22{right:91.66667%}
.trt-col-push-22{left:91.66667%}
.trt-col-23{width:95.83333%}
.trt-col-offset-23{margin-left:95.83333%}
.trt-col-pull-23{right:95.83333%}
.trt-col-push-23{left:95.83333%}
.trt-col-24{width:100%}
.trt-col-offset-24{margin-left:100%}
.trt-col-pull-24{right:100%}
.trt-col-push-24{left:100%}


@media only screen and (max-width:992px){
	.trt-col-sm-0{display:none;width:0%}
	.trt-col-sm-offset-0{margin-left:0}
	.trt-col-sm-pull-0{right:0}
	.trt-col-sm-push-0{left:0}
	.trt-col-sm-1{width:4.16667%}
	.trt-col-sm-offset-1{margin-left:4.16667%}
	.trt-col-sm-pull-1{right:4.16667%}
	.trt-col-sm-push-1{left:4.16667%}
	.trt-col-sm-2{width:8.33333%}
	.trt-col-sm-offset-2{margin-left:8.33333%}
	.trt-col-sm-pull-2{right:8.33333%}
	.trt-col-sm-push-2{left:8.33333%}
	.trt-col-sm-3{width:12.5%}
	.trt-col-sm-offset-3{margin-left:12.5%}
	.trt-col-sm-pull-3{right:12.5%}
	.trt-col-sm-push-3{left:12.5%}
	.trt-col-sm-4{width:16.66667%}
	.trt-col-sm-offset-4{margin-left:16.66667%}
	.trt-col-sm-pull-4{right:16.66667%}
	.trt-col-sm-push-4{left:16.66667%}
	.trt-col-sm-5{width:20.83333%}
	.trt-col-sm-offset-5{margin-left:20.83333%}
	.trt-col-sm-pull-5{right:20.83333%}
	.trt-col-sm-push-5{left:20.83333%}
	.trt-col-sm-6{width:25%}
	.trt-col-sm-offset-6{margin-left:25%}
	.trt-col-sm-pull-6{right:25%}
	.trt-col-sm-push-6{left:25%}
	.trt-col-sm-7{width:29.16667%}
	.trt-col-sm-offset-7{margin-left:29.16667%}
	.trt-col-sm-pull-7{right:29.16667%}
	.trt-col-sm-push-7{left:29.16667%}
	.trt-col-sm-8{width:33.33333%}
	.trt-col-sm-offset-8{margin-left:33.33333%}
	.trt-col-sm-pull-8{right:33.33333%}
	.trt-col-sm-push-8{left:33.33333%}
	.trt-col-sm-9{width:37.5%}
	.trt-col-sm-offset-9{margin-left:37.5%}
	.trt-col-sm-pull-9{right:37.5%}
	.trt-col-sm-push-9{left:37.5%}
	.trt-col-sm-10{width:41.66667%}
	.trt-col-sm-offset-10{margin-left:41.66667%}
	.trt-col-sm-pull-10{right:41.66667%}
	.trt-col-sm-push-10{left:41.66667%}
	.trt-col-sm-11{width:45.83333%}
	.trt-col-sm-offset-11{margin-left:45.83333%}
	.trt-col-sm-pull-11{right:45.83333%}
	.trt-col-sm-push-11{left:45.83333%}
	.trt-col-sm-12{width:50%}
	.trt-col-sm-offset-12{margin-left:50%}
	.trt-col-sm-pull-12{right:50%}
	.trt-col-sm-push-12{left:50%}
	.trt-col-sm-13{width:54.16667%}
	.trt-col-sm-offset-13{margin-left:54.16667%}
	.trt-col-sm-pull-13{right:54.16667%}
	.trt-col-sm-push-13{left:54.16667%}
	.trt-col-sm-14{width:58.33333%}
	.trt-col-sm-offset-14{margin-left:58.33333%}
	.trt-col-sm-pull-14{right:58.33333%}
	.trt-col-sm-push-14{left:58.33333%}
	.trt-col-sm-15{width:62.5%}
	.trt-col-sm-offset-15{margin-left:62.5%}
	.trt-col-sm-pull-15{right:62.5%}
	.trt-col-sm-push-15{left:62.5%}
	.trt-col-sm-16{width:66.66667%}
	.trt-col-sm-offset-16{margin-left:66.66667%}
	.trt-col-sm-pull-16{right:66.66667%}
	.trt-col-sm-push-16{left:66.66667%}
	.trt-col-sm-17{width:70.83333%}
	.trt-col-sm-offset-17{margin-left:70.83333%}
	.trt-col-sm-pull-17{right:70.83333%}
	.trt-col-sm-push-17{left:70.83333%}
	.trt-col-sm-18{width:75%}
	.trt-col-sm-offset-18{margin-left:75%}
	.trt-col-sm-pull-18{right:75%}
	.trt-col-sm-push-18{left:75%}
	.trt-col-sm-19{width:79.16667%}
	.trt-col-sm-offset-19{margin-left:79.16667%}
	.trt-col-sm-pull-19{right:79.16667%}
	.trt-col-sm-push-19{left:79.16667%}
	.trt-col-sm-20{width:83.33333%}
	.trt-col-sm-offset-20{margin-left:83.33333%}
	.trt-col-sm-pull-20{right:83.33333%}
	.trt-col-sm-push-20{left:83.33333%}
	.trt-col-sm-21{width:87.5%}
	.trt-col-sm-offset-21{margin-left:87.5%}
	.trt-col-sm-pull-21{right:87.5%}
	.trt-col-sm-push-21{left:87.5%}
	.trt-col-sm-22{width:91.66667%}
	.trt-col-sm-offset-22{margin-left:91.66667%}
	.trt-col-sm-pull-22{right:91.66667%}
	.trt-col-sm-push-22{left:91.66667%}
	.trt-col-sm-23{width:95.83333%}
	.trt-col-sm-offset-23{margin-left:95.83333%}
	.trt-col-sm-pull-23{right:95.83333%}
	.trt-col-sm-push-23{left:95.83333%}
	.trt-col-sm-24{width:100%}
	.trt-col-sm-offset-24{margin-left:100%}
	.trt-col-sm-pull-24{right:100%}
	.trt-col-sm-push-24{left:100%}
	.trt-row-xl{ margin: 0rem -.16rem;}
	.trt-row-xl>[class*=trt-col-],.trt-row-xl>ul>[class*=trt-col-]{ padding: 0rem .16rem;}
	
}

@media only screen and (max-width:768px){
	.trt-col-xs-0{display:none;width:0%}
	.trt-col-xs-offset-0{margin-left:0}
	.trt-col-xs-pull-0{right:0}
	.trt-col-xs-push-0{left:0}
	.trt-col-xs-1{width:4.16667%}
	.trt-col-xs-offset-1{margin-left:4.16667%}
	.trt-col-xs-pull-1{right:4.16667%}
	.trt-col-xs-push-1{left:4.16667%}
	.trt-col-xs-2{width:8.33333%}
	.trt-col-xs-offset-2{margin-left:8.33333%}
	.trt-col-xs-pull-2{right:8.33333%}
	.trt-col-xs-push-2{left:8.33333%}
	.trt-col-xs-3{width:12.5%}
	.trt-col-xs-offset-3{margin-left:12.5%}
	.trt-col-xs-pull-3{right:12.5%}
	.trt-col-xs-push-3{left:12.5%}
	.trt-col-xs-4{width:16.66667%}
	.trt-col-xs-offset-4{margin-left:16.66667%}
	.trt-col-xs-pull-4{right:16.66667%}
	.trt-col-xs-push-4{left:16.66667%}
	.trt-col-xs-5{width:20.83333%}
	.trt-col-xs-offset-5{margin-left:20.83333%}
	.trt-col-xs-pull-5{right:20.83333%}
	.trt-col-xs-push-5{left:20.83333%}
	.trt-col-xs-6{width:25%}
	.trt-col-xs-offset-6{margin-left:25%}
	.trt-col-xs-pull-6{right:25%}
	.trt-col-xs-push-6{left:25%}
	.trt-col-xs-7{width:29.16667%}
	.trt-col-xs-offset-7{margin-left:29.16667%}
	.trt-col-xs-pull-7{right:29.16667%}
	.trt-col-xs-push-7{left:29.16667%}
	.trt-col-xs-8{width:33.33333%}
	.trt-col-xs-offset-8{margin-left:33.33333%}
	.trt-col-xs-pull-8{right:33.33333%}
	.trt-col-xs-push-8{left:33.33333%}
	.trt-col-xs-9{width:37.5%}
	.trt-col-xs-offset-9{margin-left:37.5%}
	.trt-col-xs-pull-9{right:37.5%}
	.trt-col-xs-push-9{left:37.5%}
	.trt-col-xs-10{width:41.66667%}
	.trt-col-xs-offset-10{margin-left:41.66667%}
	.trt-col-xs-pull-10{right:41.66667%}
	.trt-col-xs-push-10{left:41.66667%}
	.trt-col-xs-11{width:45.83333%}
	.trt-col-xs-offset-11{margin-left:45.83333%}
	.trt-col-xs-pull-11{right:45.83333%}
	.trt-col-xs-push-11{left:45.83333%}
	.trt-col-xs-12{width:50%}
	.trt-col-xs-offset-12{margin-left:50%}
	.trt-col-xs-pull-12{right:50%}
	.trt-col-xs-push-12{left:50%}
	.trt-col-xs-13{width:54.16667%}
	.trt-col-xs-offset-13{margin-left:54.16667%}
	.trt-col-xs-pull-13{right:54.16667%}
	.trt-col-xs-push-13{left:54.16667%}
	.trt-col-xs-14{width:58.33333%}
	.trt-col-xs-offset-14{margin-left:58.33333%}
	.trt-col-xs-pull-14{right:58.33333%}
	.trt-col-xs-push-14{left:58.33333%}
	.trt-col-xs-15{width:62.5%}
	.trt-col-xs-offset-15{margin-left:62.5%}
	.trt-col-xs-pull-15{right:62.5%}
	.trt-col-xs-push-15{left:62.5%}
	.trt-col-xs-16{width:66.66667%}
	.trt-col-xs-offset-16{margin-left:66.66667%}
	.trt-col-xs-pull-16{right:66.66667%}
	.trt-col-xs-push-16{left:66.66667%}
	.trt-col-xs-17{width:70.83333%}
	.trt-col-xs-offset-17{margin-left:70.83333%}
	.trt-col-xs-pull-17{right:70.83333%}
	.trt-col-xs-push-17{left:70.83333%}
	.trt-col-xs-18{width:75%}
	.trt-col-xs-offset-18{margin-left:75%}
	.trt-col-xs-pull-18{right:75%}
	.trt-col-xs-push-18{left:75%}
	.trt-col-xs-19{width:79.16667%}
	.trt-col-xs-offset-19{margin-left:79.16667%}
	.trt-col-xs-pull-19{right:79.16667%}
	.trt-col-xs-push-19{left:79.16667%}
	.trt-col-xs-20{width:83.33333%}
	.trt-col-xs-offset-20{margin-left:83.33333%}
	.trt-col-xs-pull-20{right:83.33333%}
	.trt-col-xs-push-20{left:83.33333%}
	.trt-col-xs-21{width:87.5%}
	.trt-col-xs-offset-21{margin-left:87.5%}
	.trt-col-xs-pull-21{right:87.5%}
	.trt-col-xs-push-21{left:87.5%}
	.trt-col-xs-22{width:91.66667%}
	.trt-col-xs-offset-22{margin-left:91.66667%}
	.trt-col-xs-pull-22{right:91.66667%}
	.trt-col-xs-push-22{left:91.66667%}
	.trt-col-xs-23{width:95.83333%}
	.trt-col-xs-offset-23{margin-left:95.83333%}
	.trt-col-xs-pull-23{right:95.83333%}
	.trt-col-xs-push-23{left:95.83333%}
	.trt-col-xs-24{width:100%}
	.trt-col-xs-offset-24{margin-left:100%}
	.trt-col-xs-pull-24{right:100%}
	.trt-col-xs-push-24{left:100%}
}
@media only screen and (max-width:640px){
	.trt-col-md-0{display:none;width:0%}
	.trt-col-md-offset-0{margin-left:0}
	.trt-col-md-pull-0{right:0}
	.trt-col-md-push-0{left:0}
	.trt-col-md-1{width:4.16667%}
	.trt-col-md-offset-1{margin-left:4.16667%}
	.trt-col-md-pull-1{right:4.16667%}
	.trt-col-md-push-1{left:4.16667%}
	.trt-col-md-2{width:8.33333%}
	.trt-col-md-offset-2{margin-left:8.33333%}
	.trt-col-md-pull-2{right:8.33333%}
	.trt-col-md-push-2{left:8.33333%}
	.trt-col-md-3{width:12.5%}
	.trt-col-md-offset-3{margin-left:12.5%}
	.trt-col-md-pull-3{right:12.5%}
	.trt-col-md-push-3{left:12.5%}
	.trt-col-md-4{width:16.66667%}
	.trt-col-md-offset-4{margin-left:16.66667%}
	.trt-col-md-pull-4{right:16.66667%}
	.trt-col-md-push-4{left:16.66667%}
	.trt-col-md-5{width:20.83333%}
	.trt-col-md-offset-5{margin-left:20.83333%}
	.trt-col-md-pull-5{right:20.83333%}
	.trt-col-md-push-5{left:20.83333%}
	.trt-col-md-6{width:25%}
	.trt-col-md-offset-6{margin-left:25%}
	.trt-col-md-pull-6{right:25%}
	.trt-col-md-push-6{left:25%}
	.trt-col-md-7{width:29.16667%}
	.trt-col-md-offset-7{margin-left:29.16667%}
	.trt-col-md-pull-7{right:29.16667%}
	.trt-col-md-push-7{left:29.16667%}
	.trt-col-md-8{width:33.33333%}
	.trt-col-md-offset-8{margin-left:33.33333%}
	.trt-col-md-pull-8{right:33.33333%}
	.trt-col-md-push-8{left:33.33333%}
	.trt-col-md-9{width:37.5%}
	.trt-col-md-offset-9{margin-left:37.5%}
	.trt-col-md-pull-9{right:37.5%}
	.trt-col-md-push-9{left:37.5%}
	.trt-col-md-10{width:41.66667%}
	.trt-col-md-offset-10{margin-left:41.66667%}
	.trt-col-md-pull-10{right:41.66667%}
	.trt-col-md-push-10{left:41.66667%}
	.trt-col-md-11{width:45.83333%}
	.trt-col-md-offset-11{margin-left:45.83333%}
	.trt-col-md-pull-11{right:45.83333%}
	.trt-col-md-push-11{left:45.83333%}
	.trt-col-md-12{width:50%}
	.trt-col-md-offset-12{margin-left:50%}
	.trt-col-md-pull-12{right:50%}
	.trt-col-md-push-12{left:50%}
	.trt-col-md-13{width:54.16667%}
	.trt-col-md-offset-13{margin-left:54.16667%}
	.trt-col-md-pull-13{right:54.16667%}
	.trt-col-md-push-13{left:54.16667%}
	.trt-col-md-14{width:58.33333%}
	.trt-col-md-offset-14{margin-left:58.33333%}
	.trt-col-md-pull-14{right:58.33333%}
	.trt-col-md-push-14{left:58.33333%}
	.trt-col-md-15{width:62.5%}
	.trt-col-md-offset-15{margin-left:62.5%}
	.trt-col-md-pull-15{right:62.5%}
	.trt-col-md-push-15{left:62.5%}
	.trt-col-md-16{width:66.66667%}
	.trt-col-md-offset-16{margin-left:66.66667%}
	.trt-col-md-pull-16{right:66.66667%}
	.trt-col-md-push-16{left:66.66667%}
	.trt-col-md-17{width:70.83333%}
	.trt-col-md-offset-17{margin-left:70.83333%}
	.trt-col-md-pull-17{right:70.83333%}
	.trt-col-md-push-17{left:70.83333%}
	.trt-col-md-18{width:75%}
	.trt-col-md-offset-18{margin-left:75%}
	.trt-col-md-pull-18{right:75%}
	.trt-col-md-push-18{left:75%}
	.trt-col-md-19{width:79.16667%}
	.trt-col-md-offset-19{margin-left:79.16667%}
	.trt-col-md-pull-19{right:79.16667%}
	.trt-col-md-push-19{left:79.16667%}
	.trt-col-md-20{width:83.33333%}
	.trt-col-md-offset-20{margin-left:83.33333%}
	.trt-col-md-pull-20{right:83.33333%}
	.trt-col-md-push-20{left:83.33333%}
	.trt-col-md-21{width:87.5%}
	.trt-col-md-offset-21{margin-left:87.5%}
	.trt-col-md-pull-21{right:87.5%}
	.trt-col-md-push-21{left:87.5%}
	.trt-col-md-22{width:91.66667%}
	.trt-col-md-offset-22{margin-left:91.66667%}
	.trt-col-md-pull-22{right:91.66667%}
	.trt-col-md-push-22{left:91.66667%}
	.trt-col-md-23{width:95.83333%}
	.trt-col-md-offset-23{margin-left:95.83333%}
	.trt-col-md-pull-23{right:95.83333%}
	.trt-col-md-push-23{left:95.83333%}
	.trt-col-md-24{width:100%}
	.trt-col-md-offset-24{margin-left:100%}
	.trt-col-md-pull-24{right:100%}
	.trt-col-md-push-24{left:100%}
}
@media only screen and (max-width:375px){
	.trt-col-xxs-0{display:none;width:0%}
	.trt-col-xxs-offset-0{margin-left:0}
	.trt-col-xxs-pull-0{right:0}
	.trt-col-xxs-push-0{left:0}
	.trt-col-xxs-1{width:4.16667%}
	.trt-col-xxs-offset-1{margin-left:4.16667%}
	.trt-col-xxs-pull-1{right:4.16667%}
	.trt-col-xxs-push-1{left:4.16667%}
	.trt-col-xxs-2{width:8.33333%}
	.trt-col-xxs-offset-2{margin-left:8.33333%}
	.trt-col-xxs-pull-2{right:8.33333%}
	.trt-col-xxs-push-2{left:8.33333%}
	.trt-col-xxs-3{width:12.5%}
	.trt-col-xxs-offset-3{margin-left:12.5%}
	.trt-col-xxs-pull-3{right:12.5%}
	.trt-col-xxs-push-3{left:12.5%}
	.trt-col-xxs-4{width:16.66667%}
	.trt-col-xxs-offset-4{margin-left:16.66667%}
	.trt-col-xxs-pull-4{right:16.66667%}
	.trt-col-xxs-push-4{left:16.66667%}
	.trt-col-xxs-5{width:20.83333%}
	.trt-col-xxs-offset-5{margin-left:20.83333%}
	.trt-col-xxs-pull-5{right:20.83333%}
	.trt-col-xxs-push-5{left:20.83333%}
	.trt-col-xxs-6{width:25%}
	.trt-col-xxs-offset-6{margin-left:25%}
	.trt-col-xxs-pull-6{right:25%}
	.trt-col-xxs-push-6{left:25%}
	.trt-col-xxs-7{width:29.16667%}
	.trt-col-xxs-offset-7{margin-left:29.16667%}
	.trt-col-xxs-pull-7{right:29.16667%}
	.trt-col-xxs-push-7{left:29.16667%}
	.trt-col-xxs-8{width:33.33333%}
	.trt-col-xxs-offset-8{margin-left:33.33333%}
	.trt-col-xxs-pull-8{right:33.33333%}
	.trt-col-xxs-push-8{left:33.33333%}
	.trt-col-xxs-9{width:37.5%}
	.trt-col-xxs-offset-9{margin-left:37.5%}
	.trt-col-xxs-pull-9{right:37.5%}
	.trt-col-xxs-push-9{left:37.5%}
	.trt-col-xxs-10{width:41.66667%}
	.trt-col-xxs-offset-10{margin-left:41.66667%}
	.trt-col-xxs-pull-10{right:41.66667%}
	.trt-col-xxs-push-10{left:41.66667%}
	.trt-col-xxs-11{width:45.83333%}
	.trt-col-xxs-offset-11{margin-left:45.83333%}
	.trt-col-xxs-pull-11{right:45.83333%}
	.trt-col-xxs-push-11{left:45.83333%}
	.trt-col-xxs-12{width:50%}
	.trt-col-xxs-offset-12{margin-left:50%}
	.trt-col-xxs-pull-12{right:50%}
	.trt-col-xxs-push-12{left:50%}
	.trt-col-xxs-13{width:54.16667%}
	.trt-col-xxs-offset-13{margin-left:54.16667%}
	.trt-col-xxs-pull-13{right:54.16667%}
	.trt-col-xxs-push-13{left:54.16667%}
	.trt-col-xxs-14{width:58.33333%}
	.trt-col-xxs-offset-14{margin-left:58.33333%}
	.trt-col-xxs-pull-14{right:58.33333%}
	.trt-col-xxs-push-14{left:58.33333%}
	.trt-col-xxs-15{width:62.5%}
	.trt-col-xxs-offset-15{margin-left:62.5%}
	.trt-col-xxs-pull-15{right:62.5%}
	.trt-col-xxs-push-15{left:62.5%}
	.trt-col-xxs-16{width:66.66667%}
	.trt-col-xxs-offset-16{margin-left:66.66667%}
	.trt-col-xxs-pull-16{right:66.66667%}
	.trt-col-xxs-push-16{left:66.66667%}
	.trt-col-xxs-17{width:70.83333%}
	.trt-col-xxs-offset-17{margin-left:70.83333%}
	.trt-col-xxs-pull-17{right:70.83333%}
	.trt-col-xxs-push-17{left:70.83333%}
	.trt-col-xxs-18{width:75%}
	.trt-col-xxs-offset-18{margin-left:75%}
	.trt-col-xxs-pull-18{right:75%}
	.trt-col-xxs-push-18{left:75%}
	.trt-col-xxs-19{width:79.16667%}
	.trt-col-xxs-offset-19{margin-left:79.16667%}
	.trt-col-xxs-pull-19{right:79.16667%}
	.trt-col-xxs-push-19{left:79.16667%}
	.trt-col-xxs-20{width:83.33333%}
	.trt-col-xxs-offset-20{margin-left:83.33333%}
	.trt-col-xxs-pull-20{right:83.33333%}
	.trt-col-xxs-push-20{left:83.33333%}
	.trt-col-xxs-21{width:87.5%}
	.trt-col-xxs-offset-21{margin-left:87.5%}
	.trt-col-xxs-pull-21{right:87.5%}
	.trt-col-xxs-push-21{left:87.5%}
	.trt-col-xxs-22{width:91.66667%}
	.trt-col-xxs-offset-22{margin-left:91.66667%}
	.trt-col-xxs-pull-22{right:91.66667%}
	.trt-col-xxs-push-22{left:91.66667%}
	.trt-col-xxs-23{width:95.83333%}
	.trt-col-xxs-offset-23{margin-left:95.83333%}
	.trt-col-xxs-pull-23{right:95.83333%}
	.trt-col-xxs-push-23{left:95.83333%}
	.trt-col-xxs-24{width:100%}
	.trt-col-xxs-offset-24{margin-left:100%}
	.trt-col-xxs-pull-24{right:100%}
	.trt-col-xxs-push-24{left:100%}
	.trt-row-large{ margin: 0rem -.08rem;}
	.trt-row-large [class*=trt-col-]{ padding: 0rem .08rem;}
	.trt-row-xl{ margin: 0rem -.12rem;}
	.trt-row-xl>[class*=trt-col-],.trt-row-xl>ul>[class*=trt-col-]{ padding: 0rem .12rem;}
}


/*长者模式的栅格*/
.slb .slb-trt-col-1{ width: 4.16667%;}
.slb .slb-trt-col-2{ width: 8.33333%;}
.slb .slb-trt-col-3{ width: 12.5%;}
.slb .slb-trt-col-4{ width: 16.66667%;}
.slb .slb-trt-col-5{ width: 20.83333%;}
.slb .slb-trt-col-6{ width: 25%;}
.slb .slb-trt-col-7{ width: 29.16667%;}
.slb .slb-trt-col-8{ width: 33.33333%;}
.slb .slb-trt-col-9{ width: 37.5%;}
.slb .slb-trt-col-10{ width: 41.66667%;}
.slb .slb-trt-col-11{ width: 45.83333%;}
.slb .slb-trt-col-12{ width: 50%;}
.slb .slb-trt-col-13{ width: 54.16667%;}
.slb .slb-trt-col-14{ width: 58.3333%;}
.slb .slb-trt-col-15{ width: 62.5%;}
.slb .slb-trt-col-16{ width: 66.66667%;}
.slb .slb-trt-col-17{ width: 70.83333%;}
.slb .slb-trt-col-18{ width: 75%;}
.slb .slb-trt-col-19{ width: 79.16667%;}
.slb .slb-trt-col-20{ width: 83.33333%;}
.slb .slb-trt-col-21{ width: 87.5%;}
.slb .slb-trt-col-22{ width: 91.66667%;}
.slb .slb-trt-col-23{ width: 95.83333%;}
.slb .slb-trt-col-24{ width: 100%;}
.slb .slb-trt-row-large{ margin: 0rem -.12rem;}
.slb .slb-trt-row-large>[class*=trt-col-]{ padding: 0rem .12rem;}
.slb .slb-trt-row-base{ margin: 0rem -.1rem;}
.slb .slb-trt-row-base>[class*=trt-col-]{ padding: 0rem .1rem;}
.slb .slb-trt-row-small{ margin: 0rem -.06rem;}
.slb .slb-trt-row-small>[class*=trt-col-]{ padding: 0rem .06rem;}
.slb .slb-trt-col-offset-0{margin-left:0rem}

@media only screen and (max-width:992px){
	.slb .slb-trt-col-sm-8{ width: 33.33333%;}
	.slb .slb-trt-col-sm-12{ width:50%}
	.slb .slb-trt-col-sm-24{ width:100%}
}
@media only screen and (max-width:768px){
	.slb .slb-trt-col-xs-8{ width: 33.33333%;}
	.slb .slb-trt-col-xs-12{ width:50%}
	.slb .slb-trt-col-xs-24{ width:100%}
}
@media only screen and (max-width:640px){
	.slb .slb-trt-col-md-8{ width: 33.33333%;}
	.slb .slb-trt-col-md-12{ width:50%}
	.slb .slb-trt-col-md-24{ width:100%}
}
@media only screen and (max-width:375px){
	.slb .slb-trt-col-xxs-8{ width: 33.33333%;}
	.slb .slb-trt-col-xxs-12{ width: 50%;}
	.slb .slb-trt-col-xxs-24{width:100%}
}